{% load static %}
{% load analytics_extra %}

<!doctype html>
<html lang="en">
	<head>
		{% block header %}
		<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	    <!-- Custom CSS -->
		<link rel="stylesheet" href="{% static 'css/index.css' %}?{% cache_bust %}">

	    <!-- Handsome Table -->
	    <script src="https://cdn.jsdelivr.net/npm/handsontable@7.0.0/dist/handsontable.full.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/handsontable@7.0.0/dist/handsontable.full.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="https://handsontable.com/static/css/main.css">

	    <title>PC Mortgage</title>
	    {% endblock %}
	</head>
	<body>
		{% block content %}
	    <main role="main" class="container">
	    	<div class="vertical-center">
	    		<div id="t1"></div>
	    	</div>
		</main>

	    <!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	    <!-- Main -->
	    <script type="text/javascript">
		    var dataObject = {{ dataObject|safe }};
		    var editState = {{ editState|safe }};
		</script>
	    <script src="{% static 'js/main.js' %}?{% cache_bust %}"></script>
	    {% endblock %}
	</body>
</html>